body {
    background-color: black;
    font-family:'Times New Roman', Times, serif, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, 'Arial Narrow', Arial, sans-serif, Courier, monospace, Times, serif;
}

.container-fluid {
    background-image: url(../images/background6.jpg);
    background-size: cover;
}

.wrapper {
    margin: 5px 15px 10px 15px;

}

#header {
    background-image: url(../images/background8.jpg);
    margin: 10px 0 10px 0;
    padding: 0px 0 0px 10px;
}

h1 {
    font-size: 80px;
    font-weight:bolder;
}

#instructions {
    color: green;
    margin: 0;
    font-weight: bold;
}

#startP {
    margin-top: 10px;
}

#lastP {
    margin-bottom: 10px;
}

#comp-guess {
    margin: 0;
    padding: 4% 0 80px 15px;
    background-color: rgb(83, 185, 83);
    color: indigo;
    font-size: 80px;
}

#scores {
    text-align: center;
    margin: 0;
    padding: 0;
}

#score-guess {
    background-color: rgb(83, 185, 83);
    color: indigo;
    text-align: center;
}

#user-score {
    font-size: 30px;
    font-weight: bold;
}

#user-guess {
    font-size: 80px;
}

#userWin, #userLose {
    background-color: teal;
    color: white;
    margin: 10px 0 0 0;
}





